<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} DEFAULT TITLE {% endblock %}</title>

    <!-- TailwindCSS include -->
    <link href="{{ url_for('static', path='css/site.css') }}" rel="stylesheet">
   <!-- FontAwesome include -->
    <link href="{{ url_for('static', path='css/all.css') }}" rel="stylesheet">

</head>
<body>

<div class="flex flex-col w-full min-h-screen bg-zinc-100 ">

    {% include "components/header.html" %}


    <main class="container grow h-full mx-auto p-8 flex flex-col space-y-6">
        {% block page_title %}{% endblock %}

        {% block main%}
        ... nothing to see here
        {% endblock%}
    </main>

    {% include "components/footer.html" %}

</div>
<script src="{{ url_for('static',path='js/menu.js') }}" defer></script>
</body>
</html>
