<!-- Page Footer -->
<!-- based on https://www.creative-tim.com/twcomponents/component/tailwind-css-footer-1-->
<footer class="w-full text-zinc-700 bg-zinc-300 body-font text-sm">
    <div class="px-16 py-6 flex flex-col flex-wrap flex-grow w-full bg-zinc-200 ">

        <nav class="grid grid-cols-4 md:grid-cols-8 ">
            <h2 class="text-left mx-2 font-medium tracking-widest text-zinc-500 uppercase title-font">About</h2>
            <a href="{{ url_for('home') }}"
               class="text-left mx-2 text-zinc-400 cursor-pointer hover:text-zinc-600">Company</a>
            <a href="{{ url_for('home') }}"
               class="text-left mx-2 text-zinc-400 cursor-pointer hover:text-zinc-600">Careers</a>
            <a href="{{ url_for('home') }}"
               class="text-left mx-2 text-zinc-400 cursor-pointer hover:text-zinc-600">Blog</a>
        </nav>

        <nav class="grid grid-cols-4 md:grid-cols-8 pb-4">
            <h2 class="text-left mx-2 text-sm font-medium tracking-widest text-zinc-500 uppercase title-font">
                Support</h2>
            <a href="{{ url_for('home') }}"
               class="text-left mx-2 text-zinc-400 cursor-pointer hover:text-zinc-600">Contact Support</a>
            <a href="{{ url_for('home') }}"
               class="text-left mx-2 text-zinc-400 cursor-pointer hover:text-zinc-600">Help Resources</a>
            <a href="{{ url_for('home') }}"
               class="text-left mx-2 text-zinc-400 cursor-pointer hover:text-zinc-600">Release Updates</a>
        </nav>

        <nav class="grid grid-cols-4 md:grid-cols-8 ">
            <h2 class="text-left mx-2 font-medium tracking-widest text-zinc-500 uppercase title-font">App Support</h2>
            <a href="{{ url_for('colours') }}"
               class="text-left mx-2 text-zinc-400 cursor-pointer hover:text-zinc-600">Colours</a>
            <a href="{{ url_for('alerts') }}"
               class="text-left mx-2 text-zinc-400 cursor-pointer hover:text-zinc-600">Alerts</a>
            <a href="{{ url_for('home') }}"
               class="text-left mx-2 text-zinc-400 cursor-pointer hover:text-zinc-600">...</a>
            <a href="{{ url_for('home') }}"
               class="text-left mx-2 text-zinc-400 cursor-pointer hover:text-zinc-600">...</a>
        </nav>
    </div>
    <div class="w-full px-16 pt-4 pb-8 mx-auto space-y-1">
        <p class="text-xs text-zinc-500 capitalize">
            © Copyright 2024 YOUR NAME. All rights reserved
        </p>
    </div>
</footer>

</div>
