<!-- Layout based on https://www.creative-tim.com/twcomponents/u/denver-edwards -->
<nav class="border border-zinc-300 py-2.5 bg-zinc-200 shadow-md shadow-zinc-900/50">
    <div class="container flex flex-wrap justify-between items-center mx-auto">
        <a href="{{ url_for('home') }}" class="flex items-center">
            <h1 class="self-center text-xl font-semibold whitespace-nowrap flex flex-row-reverse content-center">
                <span class="pl-2 ">
                    FastAPI
                </span>
                    <img src="{{ url_for('img', path='FastAPI-Standard.png') }}" class="max-w-6 max-h-6" />
            </h1>
        </a>

        <div class="flex items-center">
            <button
                    id="menu-toggle"
                    type="button"
                    class="inline-flex items-center p-2 ml-3 rounded-md text-sm text-zinc-500
                                   hover:text-red-500 hover:bg-zinc-100
                                   focus:outline-none focus:ring-2 focus:ring-zinc-200
                                   md:hidden"
            >
                <span class="sr-only">Open main menu</span>
                <!-- Hamburger icon -->
                <svg class="h-6 w-6 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M4 6h16M4 12h16m-7 6h7"
                    />
                </svg>
            </button>
        </div>

        <div class="w-full md:block md:w-auto hidden"
             id="mobile-menu">
            <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
                <li>
                    <a href="{{ url_for('home') }}"
                       class="block py-2 pr-4 pl-3 md:p-0
                              text-zinc-700 hover:text-red-700
                              hover:bg-zinc-50 md:hover:bg-transparent
                              border-b border-zinc-100 md:border-0"
                       aria-current="page">
                        Home
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('about') }}"
                       class="block py-2 pr-4 pl-3 md:p-0
                              text-zinc-700 hover:text-red-700
                              hover:bg-zinc-50 md:hover:bg-transparent
                              border-b border-zinc-100 md:border-0">
                        About
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('providers') }}"
                       class="block py-2 pr-4 pl-3 md:p-0
                              text-zinc-700 hover:text-red-700
                              hover:bg-zinc-50 md:hover:bg-transparent
                              border-b border-zinc-100 md:border-0">
                        Providers
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('privacy') }}"
                       class="block py-2 pr-4 pl-3 md:p-0
                              text-zinc-700 hover:text-red-700
                              hover:bg-zinc-50 md:hover:bg-transparent
                              border-b border-zinc-100 md:border-0">
                        Privacy
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('terms') }}"
                       class="block py-2 pr-4 pl-3 md:p-0
                              text-zinc-700 hover:text-red-700
                              hover:bg-zinc-50 md:hover:bg-transparent
                              border-b border-zinc-100 md:border-0">
                        Terms
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>
